body {
    padding: 0px;
    margin: 0px;
}

div {
    /* background-color: white; */
}

.loading-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/default/images/pagination_loading.gif') no-repeat;
}

.success-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/ok.png') no-repeat;
}

.failed-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/no.png') no-repeat;
}