body {
    padding: 0px;
    margin: 0px;
}

div {
    /* background-color: white; */
}

.loading-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/default/images/pagination_loading.gif') no-repeat;
}

.success-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/ok.png') no-repeat;
}

.failed-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/no.png') no-repeat;
}
.tip-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/tip.png') no-repeat;
}
.play-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/play.png') no-repeat;
}
.replay-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/replay.png') no-repeat;
}
.pause-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/pause.png') no-repeat;
}
.star-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/star.png') no-repeat;
}
.star-grey-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    overflow: auto;
    background: url('themes/icons/star_grey.png') no-repeat;
}