SetEnv APPLICATION_ENV development
#SetEnv APPLICATION_ENV release

RewriteEngine On

# debug rules
#RewriteRule ^js/easyloader\.js$ js/easyloader_src.js
#RewriteRule ^(.*)$ $1 [CO=XDEBUG_SESSION:idea:metaplayer.local]

# admin front controller rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/(.*)$ $0 [NC,C]
RewriteRule ^.*$ admin.php [NC,L]

# front controller rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [NC,L]

